@import "tailwindcss";

@theme {
  --color-primary : #1F3E97;
  --color-primary-dark : #18378F;
  --color-secondary : #FFB800;
  --color-gray-200 : #464646;
  --color-gray-100 : #F4F4F4;
  --font-pacifico : "Pacifico", serif;
  --font-alice : "Alice", serif;
}
